*{
    margin: 0;
}

body, html{
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#navbar{
    width: 30vw;
    float: left;
    position: fixed;
    background-color: grey;
    min-height: 100vh;
    color: white;
}

main{
    width: 70vw;
    float: right;
    padding-left: 3px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px black;
}

p{
    line-height: 1.5;
}

#info{
    text-align: center;
    width: 30vw;
}

#links{
    line-height: 3;
    width: 30vw;
}